# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# Visual Studio cache/options
.vs/

# SonarQube analysis
.sonarqube/
.sonarlint/

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# Visual Studio Code
.vscode/
*.code-workspace

# NuGet
*.nupkg
*.snupkg
*.nuget.props
*.nuget.targets

# Test Results
TestResults/

# Local environment variables
.env
.env.local
*.local

# OS files
.DS_Store
Thumbs.db
